<form class="form" (submit)="add(taskTitle.value); taskTitle.value=''">
    <div class="form-group">
        <input type="text" #taskTitle class="form-control" placeholder="Task Name" />

    </div>
    <input type="submit" value="SUBMIT" class="btn btn-success btn-lg btn-block">

</form>
<table class="table">
    <tr *ngFor="let task of tasks">
        <a  (click)="edit(task)">
            <span *ngif="task!==editTask">{{task.title}}</span>
            <input type="text" *ngif="task===editTask" [(ngModel)]="task.title" (blur)="update()" (keyup.enter)="update()" >

        </a>

    </tr>
</table>
<div class="card card-body bg-light text-center">
    <span class="small">click on item to edit</span>
</div>